.wrapper {
  margin: 80px auto;
  padding-top: 0;
  max-width: 1600px;
  position: relative;
}

.controls {
  margin-bottom: 30px;
}

.table {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.table__row {
  font-size: 14px;
  display: grid;
  grid-template-columns: 4% repeat(6, 16%);
}

.table__headers {
  text-align: center;
}

.table__row--empty {
  border: 1px solid black;
  padding: 1em;
  border-top: none;
  border-left: none;
}

.table__cell {
  margin: 0;
  padding: 4px 8px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}
